[user]
	email = {{ .email | quote }}
	name = Elliott Barrere 
[branch]
	autosetuprebase = always
[core]
	excludesfile = {{ $.chezmoi.homeDir }}/.gitignore_global
	pager = less -X -F
	hookspath = {{ $.chezmoi.homeDir }}/.githooks
[alias]
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	tree = log --oneline --graph --decorate --all
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[http]
	sslVerify = false
[init]
	defaultBranch = main
[credential]
	helper = cache
