{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "Copy YAML Path",
      "type": "shell",
      "command": "{{ $.chezmoi.homeDir }}/code/.env/bin/python",
      "args": [
        "~/.cursor/scripts/copy-yaml-path.py",
        "${file}",
        "${lineNumber}"
      ],
      "presentation": {
        "reveal": "never"
      }
    }
  ]
}